@{
    ViewBag.Title = "Home Page";
    ViewBag.Browser = Request.Browser;
}



<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-block"><i class="fas fa-chevron-circle-down"></i> WithDrawal</a>
        <a href="#" class="btn btn-primary btn-block"><i class="fas fa-fighter-jet"></i> Quick Cash €100</a>
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary btn-block"><i class="fas fa-barcode"></i> Balance Inquiry</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-block"><i class="fas fa-print"></i> Print Statement</a>
        <a href="#" class="btn btn-primary btn-block"><i class="fas fa-home"></i> Transfer Funds</a>
        <a href="#" class="btn btn-primary btn-block"><i class="fas fa-box"></i> Deposit</a>
    </div>

</div>



